"*":
  editor:
    fontFamily: "Source Code Pro"
    lineHeight: 1.2
    showInvisibles: true
    showIndentGuide: true
    scrollPastEnd: true
    invisibles: {}
    fontSize: 15
  core:
    disabledPackages: [
      "wrap-guide"
      "welcome"
      "background-tips"
    ]
    themes: [
      "one-dark-ui"
      "one-dark-syntax"
    ]
    projectHome: "~/Code"
    audioBeep: false
  "exception-reporting":
    userId: "3961d551-c48e-c888-425b-ee566f6d7bf0"
  "release-notes":
    viewedVersion: "0.95.0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "05382f6ef5bae6bc567c0fa72c018288be4ed6eb"
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  "gist-it":
    userToken: "69d2cd7d5f907fe0caca428f36dda2ab9a2c7eca"
    useHttp: true
  "atom-beautify":
    analytics: false
    beautifyEntireFileOnSave: false
    js_jslint_happy: true
    js_end_with_newline: true
    css_newline_between_rules: true
    html_indent_inner_html: true
    html_preserve_newlines: false
  emmet: {}
  csslint: {}
  jsonlint: {}
  "tree-view":
    hideIgnoredNames: true
  htmlhint: {}
  jslint: {}
  "file-icons":
    forceShow: true
    coloured: false
