packages: [
  "atom-beautify"
  "colors"
  "csslint"
  "editorconfig"
  "emmet"
  "file-icons"
  "gist-it"
  "htmlhint"
  "jslint"
  "jsonlint"
  "language-jade"
  "merge-conflicts"
  "package-sync"
  "pigments"
]
