'packages': [
  'atom-beautify'
  'atom-csscomb'
  'boron-syntax'
  'csslint'
  'cut-line'
  'editorconfig'
  'emmet'
  'file-type-icons'
  'gist-it'
  'htmlhint'
  'jslint'
  'jsonlint'
  'language-jade'
  'language-lua'
  'neutron-syntax'
  'neutron-ui'
  'package-sync'
  'visual-bell'
]
