'packages': [
  'atom-beautify'
  'csslint'
  'cut-line'
  'editorconfig'
  'emmet'
  'file-type-icons'
  'gist-it'
  'htmlhint'
  'jslint'
  'jsonlint'
  'language-jade'
  'merge-conflicts'
  'neutron-syntax'
  'neutron-ui'
  'package-sync'
]
